.CloudsContainer{
    width: 100%;
    height:100%;
    gap: 20px;
    overflow: scroll;
    padding-right: 20px;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.CloudsAmount{
    display: flex; column-gap: 15px;
    align-items: center;
}

.CloudsInfoBar{
    display:flex; align-items: center;
    justify-content: space-between;
}

.CloudsContainer > h4{
    padding: 10px 20px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-bottom: 20px;
}

.CloudsInfoBar{
    padding: 15px 20px;
    border-radius: 30px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
}

.cloudGraphBox{
    width:500px; height: 15px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
}

.cloudGraphBar{
    /* background: rgb(152, 243, 255); */
    background: linear-gradient(0.3turn, rgb(152, 243, 255), rgb(224, 227, 255));
    height: 100%;
    transition: width 1s ease;
}

.CloudsTimeAbout{
    display: flex; align-items: center;
    column-gap: 15px;
}

@media(max-width:1060px){
    .CloudsTimeAbout{
        flex-direction: column;
        align-items: start;
    }
}
@media(max-width:960px){
    .CloudsInfoBar{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap:10px;
    }
    .cloudGraphBar{
        width:100%;
    }
    .CloudsAmount{
        width: 100%;
    }
    .cloudGraphBox{
        width:100%;
    }
    .CloudsTimeAbout{
        flex-direction: row;
        justify-content: right;
        width:100%;
    }
}