.ForeCastContainer{
    display:flex; flex-direction: column;
    align-items: center; justify-content: space-between;
    row-gap: 20px;
}

.ForeCastContainer > div{
    width:100%; height:300px;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 3px 5px 10px 2px rgba(46, 46, 46, 0.5);
}