.MainPage{
    display:flex; flex-direction: column;
    row-gap:20px;
}

.MainPage .row1{
    display:flex; width:100%;
    height:310px; column-gap: 20px;
}

.MainPage .row1 > div{
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

.MainPage .row2{
    display:flex; width:100%;
    height: 420px; column-gap:20px;
}

.MainPage .row2Left{
    display:flex;
    flex-wrap: wrap;
    gap: 20px; width:420px;
}

.MainPage .row2Left > div{
    width:200px; height:200px;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

.MainPage .row2Right{
    flex-grow: 1; height:420px;
}

.MainPage .row2Right > div{
    width: 100%; height: 420px;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

.MainPage .row3{
    height: 350px;
}

.MainPage .row3 > div{
    width: 100%; height: 100%;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}