.MainPage{
    display:flex; flex-direction: column;
    row-gap:20px;
}

.MainPage .row1{
    display:flex; width:100%;
    height:310px; column-gap: 20px;
}

.MainPage .row1 > div{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    
    box-shadow: 3px 5px 10px 2px rgba(46, 46, 46, 0.5);
}

.MainPage .row2{
    display:flex; width:100%;
    height: 420px; column-gap:20px;
}

.MainPage .row2Left{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; width:420px;
}

.MainPage .row2Left > div{
    width:200px; height:200px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

    box-shadow: 3px 5px 10px 2px rgba(46, 46, 46, 0.5);
}

.MainPage .row2Right{
    flex-grow: 1; height:420px;
}

.MainPage .row2Right > div{
    width: 100%; height: 420px;
    /* border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); */
}

.MainPage .row3{
    height: 350px;
}

.MainPage .row3 > div{
    width: 100%; height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    
    box-shadow: 3px 5px 10px 2px rgba(46, 46, 46, 0.5);
}

.MainPage .row1 > div:hover,
.MainPage .row2Left > div:hover,
.MainPage .row2Right > div:hover,
.MainPage .row3 > div:hover{
    transform: translateY(5px);
    transition: 0.5s ease;
}