.RainSnowPageContainer{
    color: white;
    width: 100%; height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.RainSnowPageContainer > h4{
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom:20px;
}

@media(max-width:1050px){
    .RainSnowPageContainer{
        
    }
}