.CurrentTempContainer{
    border-radius: 20px;
    width:70%; height: 310px;
    padding: 25px;
    display:flex; justify-content: center;
    align-items: center;
}

.CurrentTempContainer > canvas{
    width: 100%; height: 100%;
}