.CurrentTempContainer{
    border-radius: 20px;
    width:70%; height: 310px;
    padding: 25px;
    display:flex; justify-content: center;
    align-items: center;
}

@media(max-width:1000px) {
    .CurrentTempContainer{
        width: 100%;
    }
}