.LocalTimeContainer{
    border-radius: 20px;
    width:30%; height: 310px;
    background: radial-gradient(circle at right, var(--basicOrange), var(--basicCyan));
    display: flex; flex-direction: column;
    justify-content: space-between;
    padding:25px;
    color:white;
}

.NowWeatherContainer{
    display:flex; flex-direction: column;
    justify-content: center; align-items: start;
}

.NowWeatherContainer img{
    width:30%;
    position:relative; top:30px;
}

.NowWeatherDegree{
    font-size:50px; font-weight:bolder;
}

.NowWeatherFeels{
    font-size:14px; font-weight:400;
}

.NowWeatherInfo{
    /* border-top:1px solid rgba(255, 255, 255, 0.7); */
    display: flex;
    justify-content: space-between;
}

.NowWeatherInfo > ul {
    list-style-type: none;
    width:100%;
}

.NowWeatherInfo > ul > li {
    display:flex; align-items: center;
    padding: 5px 0;
}

.NowWeatherInfo > ul > li > i {
    width:10px; margin-right:15px;
}

.timeWeek{

}

.NowTimeContainer{
    font-weight: 500; font: size 20px;
    display: flex; gap:1rem;
}