.WindyContainer{
    display:flex; flex-direction: column;
    justify-content: space-between; align-items: center;
    padding: 25px;
}

.WindHardness{
    display:flex; flex-direction: column;
    justify-content: center;
}

.windMeter{
    display:flex; align-items: center;
    justify-content: center;
    position: relative;
}

.WindMeterCase{
    width:80%;
}

.WindMeterCase img{
    width:100%; height:100%;
}

.WindMeterArrow{
    position:absolute;
}

.WindMeterArrow img{
    width:15px;
    transform-origin: 50%, 50%;
}

.windMeterInfo{
    color: white;
    text-align: center;
}

@media(max-width:1000px){
    .windMeter{
        height: 90%;
    }
    .WindMeterCase{
        height: 100%;
        display:flex; align-items: center;
        justify-content: center;
    }
    .WindMeterCase img{
        width: fit-content;
    }
}