a{text-decoration: none; color: inherit;}

.MenuContainer{
    width:100%; height: 100%;
    display: flex; flex-direction: column;
    align-items: center;
}

.MenuContainer ul{
    width:100%; text-align: center;
    list-style-type: none;
    color: white;
}

.iconList{
    width:100%; padding: 20px 0;
    font-size:25px; cursor: pointer;
}

.iconList:hover{
    background: rgba(0,0,0,0.3);
    border-left: 3px solid white;
    transition: all 0.15s;
}

.clicked{
    background: rgba(0,0,0,0.3);
    border-left: 3px solid white;
    transition: all 0.15s;
}

.infoIcon{
    width:100%; padding: 20px 0;
    font-size:25px; cursor: pointer;
    position:absolute;
    bottom: 0;
}

.bi{pointer-events: none;}

@media(max-width:1000px){
    .MenuContainer ul li{
        font-size: 20px;
    }
}