.NavContainer{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width:100px; height:100%;
    display:flex; flex-direction: column;
    align-items: center; padding:20px 0px;
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: inset -3px -5px 10px 2px rgba(0,0,0,0.2);
}

@media(max-width:1200px){
    .NavContainer{
        width: 70px;
    }
  }