.App{
  width:1200px;  height: 750px;
  display:flex; align-items: center;
  justify-content: center;
  column-gap: 20px;
  position:relative;
}

.Contents{
  flex-grow: 1; height:100%;
  border-radius:20px;
  flex-grow: 1; height:100%;
  padding-right: 20px;
  position: relative;
}

.Loading{
  width: 100%; height: 100%;
  display: flex; align-items: center;
  justify-content: center;
  color: white; font-weight: bolder;
  font-size: 5rem;
}

.topBars{
  position: absolute; top:-35px;
  padding: 0 10px;
  display: flex; justify-content: space-between;
  align-items: center;
  width:100%;
}

@media(max-width:1200px){
  .App{
    width: calc(100vw - 30px);
  }
  .Contents{
    padding-right: 0px;
  }
  .topBars{
    top: -50px;
    flex-direction: column;
  }
}