.App{
  width:1200px;  height: 750px;
  display:flex; align-items: center;
  justify-content: center;
  column-gap: 20px;
  position:relative;
}

.Contents{
  width:100%; height:100%;
  border-radius:20px;
  flex-grow: 1; height:100%;
  padding-right: 20px;
  position: relative;
}

.Loading{
  width: 100%; height: 100%;
  display: flex; align-items: center;
  justify-content: center;
  color: white; font-weight: bolder;
  font-size: 5rem;
}

@media(max-width:1200px){
  .App{
    width: calc(100vw - 60px); padding-left:20px;
  }
}