*, *:after, *:before{
  margin:0; padding: 0; box-sizing: border-box;
}

:root{
  --basicCyan:rgba(205, 231, 239, 0.105);
  --basicOrange:rgba(155, 87, 66, 0.079);
  font-size:14px;
}

html{
  /* background:rgb(11, 11, 11); */
  background-image:url(../public/images/backgrounds/dayTime.jpg);
  width:100%; height: 100vh;
  display: flex; align-items: center;
  justify-content: center;
}

::-webkit-scrollbar{
  width:10px;
  background:rgba(155, 87, 66, 0.079);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.708);
}